{% extends 'base.html.twig' %}

{% block title %}categories ajout{% endblock %}

{% block body %}
<div class="container">
    <div class="row ">
        <div class="col">
            {{form_start(form)}}

                <div class="row">
                    <div class="col-md-6">{{form_row(form.name)}}</div>
                </div>

            <div class="row">
                <button class="btn btn-primary col-5">Valider</button>
            </div>
            {{form_end(form)}}

        </div>
    </div>
</div>
{% endblock %}
