{% extends 'base.html.twig' %}

{% block title %}Ajouter une salle{% endblock %}

{% block body %}

<div class="container">
    <h1>Ajouter une salle</h1>
    {# {{form(form)}} #}
    {{form_start(form)}}
    <div class="row">
        <div class="col-md-6">{{form_row(form.name)}}</div>
        <div class="col-md-6">{{form_row(form.description)}}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{form_row(form.capacity)}}</div>
        <div class="col-md-4">{{form_row(form.city)}}</div>
    </div>

    <div class="row">
        <div class="col-md-4">{{form_row(form.categories)}}</div>
    </div>

    <div class="row">
        <button class="btn btn-primary col-5">Valider</button>
    {{form_end(form)}}
        <br>    
    <a class="btn btn-primary offset-1 col-5" href="{{path('room')}}">Retour</a>
    </div>

</div>
{% endblock %} 